{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    
    <div class="princip"><h1>Hi, My name is John & I'm a Father</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Sint impedit eos necessitatibus cum, dolorum odio dignissimos, modi nisi quo animi delectus! Obcaecati ducimus asperiores, corporis sequi beatae itaque nulla animi.
        </p>
        <input type="button" value="View my Works">
        </div>
    </header>
    <br><br><br>
    <main>
        <div class="present">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Obcaecati illum earum aliquam nulla similique soluta, quasi officia expedita alias facere?
            Distinctio magni mollitia ex officiis facilis unde modi quaerat dolores.</p>
            <br>    
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Adipisci inventore recusandae accusamus explicabo, excepturi nostrum unde totam accusantium.
            Architecto delectus, dicta libero voluptatibus corporis rem vel porro ea qui a!</p>
        <br>
        <img src="img/about.jpg" alt="">
    </div>

    <div class="worksTitle">
        <h2>Latest Works</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Obcaecati illum earum aliquam nulla similique soluta, quasi officia expedita alias facere?
            Distinctio magni mollitia ex officiis facilis unde modi quaerat dolores.</p>
            <br>
        </div>
    <div class="worksContent">
        <div class="allCards">
            <div class="card1">
            <img src="img/portfolio/item-1.jpg" alt="" >
            <div class="caption">
            <h4><b>Dew Drop</b></h4>
            <p>Redesive UI concept</p>
            </div>
            </div>
    
        </div>
    </div>


</div>
{% endblock %}
